<section id="marge">
    <h1>Michel CAVAUD</h1>
    <h2>Concepteur Développeur d'Applications</h2>
    <article id="encadre">
        <ul>
            <li> <img src="icones/icone_adresse.png" alt="Icone adresse postale" class="icon"> Mon adresse, X
                rue de blablabla, Nimes</li>
            <li> <img src="icones/icone_phone.png" alt="Icone telephone" class="icon"> Mon numero 01 23 45 67 89
            </li>
            <li> <a href="mailto:adresse@serveur.com"><img src="icones/icone_mail.png" alt="Icone adresse mail"
                        class="icon"> MonAdresseEmail@gmail.com</a></li>
        </ul>
    </article>
</section>
<section>
    <article>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid voluptas possimus perferendis
            quaerat ullam expedita tenetur, eveniet fugiat, corrupti consectetur accusamus iste molestias
            facilis placeat, nobis esse voluptate debitis culpa?</p>
    </article>
</section>
<nav>
    <a href="#" class="bouton-onglet competence">Compétences</a>
    <a href="#" class="bouton-onglet experience">Expériences Professionelles</a>
    <a href="#" class="bouton-onglet formation">Formation Diplomes</a>
</nav>
<article id="onglet-template-injecteur"></article>