<div id="progress">
    <section>
        <div class="progress-circle" data-value="80">
            <div class="progress-masque">
                <div class="progress-barre"></div>
                <div class="progress-sup50"></div>
            </div>
        </div>
        <div class="progress-circle" data-value="70">
            <div class="progress-masque">
                <div class="progress-barre"></div>
                <div class="progress-sup50"></div>
            </div>
        </div>
        <div class="progress-circle" data-value="90">
            <div class="progress-masque">
                <div class="progress-barre"></div>
                <div class="progress-sup50"></div>
            </div>
        </div>
        <div class="progress-circle" data-value="60">
            <div class="progress-masque">
                <div class="progress-barre"></div>
                <div class="progress-sup50"></div>
            </div>
        </div>
    </section>
    <section>
        <p>HTML</p>
        <p>CSS</p>
        <p>JAVA</p>
        <p>SQL</p>
    </section>
</div>