<section id="marge">
    <h1>Contact</h1>
    <article id="encadre">
        Si vous souhaitez discuter d'un projet, veuillez remplir le formulaire ci-dessous et je reviendrais
        rapidement vers vous.
    </article>
</section>
<section id="contact">
    <form action="">
        <div class="formulaire-debut">
            <div>
                <label for="formulaire-nom">Nom : </label>
                <input type="text" id="formulaire-nom" placeholder="Veuillez renseigner votre nom et prenom" required>
            </div>
            <div>
                <label for="formulaire-email">Email : </label>
                <input type="email" id="formulaire-email" placeholder="Veuillez renseigner votre adresse mail" required>
            </div>
        </div>
        <label id="message-label" for="formulaire-message">Votre message : </label>
        <textarea name="" id="formulaire-message" cols="30" rows="10" placeholder="Ici votre message..."
            required></textarea>
        <button type="submit" id="submit">Envoyer</button>
    </form>
</section>