<section id="marge">
    <h1>Mes Réalisations</h1>
    <article id="encadre">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio eaque dolorem laboriosam voluptates ab
        voluptatum placeat accusamus libero veritatis dolores tempora voluptatibus, pariatur deleniti enim
        reprehenderit officiis, voluptate itaque. Rem!
    </article>
</section>

<section>
    <a id="realisation1"></a>
    <article>Réalisation 1</article>
    <a id="realisation2"></a>
    <article>Réalisation 2</article>
    <a id="realisation3"></a>
    <article>Réalisation 3</article>
    <a id="realisation4"></a>
    <article>Réalisation 4</article>
</section>